.service-manual {

  margin-bottom: $gutter;

  @include media(tablet) {
    margin-bottom: $gutter * 2;
  }

  // Lede text
  .lede {
    @include core-24;
  }

  .govspeak-wrapper {
    padding-top: 0.9375em;

    @include media(tablet) {
      padding-top: 1.875em;
    }
  }

}
