.service-manual {

  margin-bottom: $gutter;

  @include media(tablet) {
    margin-bottom: $gutter * 2;
  }

  // Lede text
  .lede {
    @include core-24;
  }

  // Page contents
  .page-contents {
    margin-top: 1em;

    @include media(tablet) {
      margin-top: 2em;
    }
  }

  .page-contents-title {
    @include bold-16;
    margin-bottom: 5px;
  }

  .page-contents-list li {
    @include core-16;
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: $gutter-half;
    padding-right: $gutter-half;

    &:before {
      content: "–";
      float: left;
      display: block;
      width: $gutter-half;
      margin-left: -$gutter-half;
    }

  }

  // Remove underlines from lists of links
  // to improve legibility
  .page-contents-list a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  .govspeak-wrapper {
    padding-top: 0.9375em;

    @include media(tablet) {
      padding-top: 1.875em;
    }
  }

  // Related content
  .related {
    border-top: 1px solid $border-colour;
    padding-top: 1em;
  }

  .related-title {
    @include bold-19;
    margin-bottom: 0.5em;
  }

  .related-description {
    margin-bottom: 0.5em;
  }

  .related-list {
    @include core-16;
    list-style: none;
  }

  .related-list-item {
    margin-bottom: 0.5em;
  }

}
