<h1>Digital Service Standard</h1>

<% @content_item.points.each.with_index do |point, point_index| %>
  <div class="point">
    <p><%= point["title"] %></p>
    <p><%= point["summary"] %></p>
    <p><%= link_to "Read more about point #{ point_index + 1 }", point["base_path"] %></p>
  </div>
<% end %>
