<%= content_for :title, "Service manual" %>

<header class="hero">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="hero__title">Service manual</h1>

      <p class="hero__description">
        Helping government teams create and run great digital services that meet the <%= link_to 'Digital Service Standard', '/service-manual/service-standard' %>.
      </p>
    </div>

    <div class="column-one-third">
      <p class="hero__feedback-link">Contact the <%= link_to 'service manual team', '/contact/govuk' %> with any comments or questions.</p>
    </div>
  </div>
</header>
