<%= content_for :title, "Service Toolkit" %>
<%= content_for :header_title, "Service Toolkit" %>

<header class="hero">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="hero__title">Design and build government services</h1>

      <p class="hero__description">
        All you need to design, build and run services that meet government standards.
      </p>
    </div>
  </div>
</header>
