.govspeak-wrapper {
  padding-top: 0.9375em;

  @include media(tablet) {
    padding-top: 1.875em;
  }

  .govuk-govspeak p,
  .govuk-govspeak ol,
  .govuk-govspeak ul {
    line-height: 1.45;
    // govspeak margin bottom is 20px
    margin-bottom: $gutter-half;
  }

  .govuk-govspeak h2 {
    @extend %govuk-heading-m;
  }
}
