.app-c-hero {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(3);
  position: relative;
  top: -1px;

  @include media(tablet) {
    margin-bottom: govuk-spacing(6);
  }

  a:link,
  a:visited {
    color: govuk-colour("white");
    font-weight: bold;
  }
}

.app-c-hero-lead {
  line-height: 1.35;
}

.app-c-heading--inverse,
.app-c-body--inverse {
  color: govuk-colour("white");
}
