// Here we're using BEM which uses __ to denote an element within a block
// scss-lint:disable SelectorFormat

.improve-this-page__prompt {
  background-color: $govuk-blue;
  color: $white;
  padding: 10px $gutter-half 0;

  a:link,
  a:visited {
    color: $white;
    display: inline-block;
  }

  &:focus {
    outline: none;
  }
}

.improve-this-page__page-is-useful-button {
  margin-right: 0.2em;
}

.improve-this-page__is-useful-question {
  @include bold-16;

  display: inline;
}

.improve-this-page__anything-wrong {
  float: right;
}

.improve-this-page__form {
  margin-top: $gutter;
  padding: $gutter-half 0;
  border-top: 10px solid $govuk-blue;

  @include print {
    display: none;
  }

  .form-control {
    width: 100%;
  }
}

.improve-this-page__close {
  @include core-16;

  text-align: right;
  display: block;
  margin-bottom: 10px;

  @include media(tablet) {
    display: inherit;
    float: right;
    padding-top: 0;
  }
}
