.improve-this-page {
  padding: 10px;
  background-color: $govuk-blue;
  color: $white;

  a:link,
  a:visited {
    color: $white;
  }

  &__is-useful-question {
    @include bold-16;
  }

  &__anything-wrong {
    float: right;
  }
}
