.metadata {
  @include core-14;
  @extend %contain-floats;
  margin-bottom: 2em;

  dt {
    float: left;
    clear: left;
    width: auto;
    min-width: 120px;

    @include media(tablet) {
      padding-right: $gutter-one-third;
    }
  }

  dd {
    float: left;
    width: 55%;

    @include media(tablet) {
      width: 70%;
    }
  }

  // Adjust icon position for external links
  a[rel="external"]:after {
    content: "\A0\A0\A0\A0\A0\A0";
    background-position: right 0%;
  }
}
