.notice {
  clear: both;
  @include responsive-bottom-margin;
  padding: $gutter-half;

  border: 5px solid $govuk-blue;

  @include media(tablet) {
    padding: $gutter-two-thirds;
  }

  &__title {
    @include bold-36;
    margin-bottom: $gutter-one-third;
  }

  &__description {
    @include core-19;
  }
}
