.search {
  @extend %contain-floats;

  &__label {
    color: $white;
  }

  &__input[type="search"] {
    @include box-sizing(border-box);
    @include core-19($line-height: (28/19), $line-height-640: (28/16));

    display: block;
    position: relative;
    float: left;

    height: 40px;
    width: calc(100% - 40px);
    min-width: 0;
    padding: 6px;
    
    margin: 0;
    border: 0;
    
    background: $white;

    @include appearance(none);
  }

  &__submit {
    float: left;

    width: 40px;
    height: 40px;

    border: 1px solid $black;
    border-width: 0 0 0 1px;

    overflow: hidden;
    text-indent: -5000px;
    cursor: pointer;

    color: $white;
    background: #0b0c0c image-url("search-button.png") no-repeat 2px 50%;

    @include device-pixel-ratio() {
      background-size: 52.5px 35px;
      background-position: 115% 50%;
    }

    &:focus {
      z-index: 10;
      position: relative;
    }

    &:hover {
      background-color: lighten($black, 5%);
    }
  }
}
