.search {
  @extend %contain-floats;

  &__input {
    float: left;
    width: 100%;

    input {
      width: 100%;
      margin: 0.5em 0;
      padding: 6px;

      @include core-19($line-height: (28 / 19), $line-height-640: (28 / 16));
    }
  }

  &__submit {
    float: left;
    padding: 6px;
    background: $black;
    color: $white;
    border: 0;
  }

  // IE6 + IE7 always get the simplest version, regardless of whether javascript
  // is enabled
  @if ($is-ie == false) or ($ie-version >= 8) {
    $search-button-size: 40px;

    &__input {
      @include box-sizing(border-box);

      padding-right: $search-button-size;
      margin-right: -$search-button-size;

      input {
        @include box-sizing(border-box);
        @include appearance(none);

        position: relative;
        height: $search-button-size;
        margin: 0;

        border: 0;
        outline-offset: 0;
      }
    }

    &__submit {
      @include box-sizing(border-box);
      height: $search-button-size;
      width: $search-button-size;

      cursor: pointer;

      overflow: hidden;
      text-indent: -5000px;
      background: $black image-url("search-button.png") no-repeat 2px 50%;

      @include device-pixel-ratio() {
        background-size: 52.5px 35px;
        background-position: 115% 50%;
      }

      &:hover {
        background-color: lighten($black, 5%);
      }

      &:focus {
        z-index: 15;
        position: relative;
      }

      @include border-radius(0);
    }

    // If JS is enabled, and browser is not IE6 or IE7, position label as a
    // placeholder
    .js-enabled & {
      position: relative;
      background: $white;

      // Absolutely position the label behind the input
      &__label {
        @include core-19($line-height: 40px, $line-height-640: 40px);
        position: absolute;
        left: 0;
        top: 1px;
        z-index: 5;

        text-indent: 15px;

        color: $secondary-text-colour;
      }

      // Input is transparent and sits above the label
      &__input input {
        position: relative;
        z-index: 10;

        // Internet Explorer does not play well with "empty" elements. The label
        // behind the text box becomes selectable (i.e. it acts as if the input
        // is not there.) Setting a background image fixes it.
        // http://stackoverflow.com/questions/2098714/input-boxes-with-transparent-background-are-not-clickable-in-ie8
        // http://stackoverflow.com/questions/9109911/ie-z-index-trouble-on-element-with-transparent-background
        background: transparent url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');

        // Javascript adds a confusingly named `focus` class to the input when
        // it contains text. We use this to set the background to white, hiding
        // the label.
        &:focus,
        &.focus {
          background: $white;
        }
      }
    }
  }
}
