.service-standard-point {

  $point-gutter: 30px;
  $point-gutter-tablet: 45px;

  border-top: 1px solid $border-colour;
  margin-top: 1.5em;
  padding-top: 1.5em;

  &__title {
    @include bold-24;
    margin-bottom: 0.5em;
    margin-left: $point-gutter;

    @include media(tablet) {
      margin-left: $point-gutter-tablet;
    }
  }

  &__number {
    float: left;
    margin-left: -$point-gutter;

    @include media(tablet) {
      margin-left: -$point-gutter-tablet;
    }
  }

  &__details {
    @include core-19;
    margin-bottom: 0.5em;
    margin-left: $point-gutter;

    @include media(tablet) {
      margin-left: $point-gutter-tablet;
    }
  }

  &__link {
    margin-top: 0.5em;
  }
}
