$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;
$govuk-use-legacy-palette: false;

@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/component_support';
@import 'govuk_publishing_components/components/accordion';
@import 'govuk_publishing_components/components/breadcrumbs';
@import 'govuk_publishing_components/components/button';
@import 'govuk_publishing_components/components/error-message';
@import 'govuk_publishing_components/components/feedback';
@import 'govuk_publishing_components/components/govspeak';
@import 'govuk_publishing_components/components/hint';
@import 'govuk_publishing_components/components/input';
@import 'govuk_publishing_components/components/label';
@import 'govuk_publishing_components/components/metadata';
@import 'govuk_publishing_components/components/phase-banner';
@import 'govuk_publishing_components/components/search';
@import 'govuk_publishing_components/components/title';

@import "mixins/margins";
@import "mixins/print";

// CSS that could be better, mostly overriding Slimmer...
@import "hacks/full-width";
@import "hacks/header-tweaks";

// Modules
@import "modules/change-history";
@import "modules/collection";
@import "modules/community-contact";
@import "modules/govspeak-wrapper";
@import "modules/hero";
@import "modules/notice";
@import "modules/page-contents";
@import "modules/page-header";
@import "modules/panel";
@import "modules/related-content";
@import "modules/service-standard-point";
@import "modules/sticky";
@import "modules/typography";
