// Print-specific styling

$is-print: true;

@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/components/print/accordion';
@import 'govuk_publishing_components/components/print/button';
@import 'govuk_publishing_components/components/print/feedback';
@import 'govuk_publishing_components/components/print/govspeak';
@import 'govuk_publishing_components/components/print/metadata';
@import 'govuk_publishing_components/components/print/search';
@import 'govuk_publishing_components/components/print/title';

@import "mixins/margins";
@import "mixins/print";
