// The main application stylesheet

@import "common";

// CSS that could be better, mostly overriding Slimmer...
@import "hacks/full-width";
@import "hacks/header-tweaks";

// Modules
@import "modules/change-history";
@import "modules/collection";
@import "modules/community-contact";
@import "modules/govspeak-wrapper";
@import "modules/hero";
@import "modules/improve-this-page";
@import "modules/link-unit";
@import "modules/main-service-manual";
@import "modules/metadata";
@import "modules/notice";
@import "modules/page-contents";
@import "modules/page-header";
@import "modules/panel";
@import "modules/related-content";
@import "modules/search";
@import "modules/service-standard-point";
@import "modules/subsections";
@import "modules/typography";
